{{!-- <h1>{{title}}</h1>
<p>Welcome to {{dashboard}}</p>

<h2>
    Add New Crop
</h2>

<form id="addform">
    <table>
        <tr>
            <td>CropId</td>
            <td><input type="text" id="cropId" /></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" id="name" /></td>
        </tr>
        <tr>
            <td>Owner</td>
            <td><input type="text" id="owner" /></td>
        </tr>
        <tr>
            <td>Soil</td>
            <td><input type="text" id="soil" /></td>
        </tr>
        <tr>
            <td>seedName</td>
            <td><input type="text" id="seedName" /></td>
        </tr>
        <tr>
            <td>cost</td>
            <td><input type="text" id="cost" /></td>
        </tr>
        <tr>
            <td>fertilizerUsed</td>
            <td><input type="text" id="fertilizerUsed" /></td>
        </tr>
        <tr>
            <td>areaOfCropyield</td>
            <td><input type="text" id="areaOfCropyield" /></td>
        </tr>
        <tr>
            <td></td>
            <td> <button onclick="addData(event)">Add New Crop</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>

<br>
<h2>
    Query Crop
</h2>

<form id="readform">
    <table>
        <tr>
            <td>CropId</td>
            <td><input type="text" id="readcropId" /></td>
        </tr>
        <tr>
            <td></td>
            <td> <button onclick="readData(event)">Query Crop</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>


</form>


<br>
<h2>
    Update Crop
</h2>

<form id="updateform">
    <table>
        <tr>
            <td>CropId</td>
            <td><input type="text" id="Cropid" /></td>
        </tr>
        <tr>
            <td>Owner</td>
            <td><input type="text" id="Owner" /></td>
        </tr>
        <tr>
            <td>Cost</td>
            <td><input type="text" id="Cost" /></td>
        </tr>
        <tr>
            <td></td>
            <td> <button onclick="updateData(event)">Update Crop</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>


</form>

<br>
<h2>
    Delete Crop
</h2>

<form id="deleteform">
    <table>
        <tr>
            <td>CropId</td>
            <td><input type="text" id="readId" /></td>
        </tr>
        <tr>
            <td></td>
            <td> <button onclick="deleteData(event)">Query Crop</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>


</form>
<br>
<h2>
    Fetch all Crops
</h2>
<form id="quryallform">
    <table>
        <tr>

            <td> <button onclick="queryData(event)">Fetch all The data</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>


</form>

<br>
<h2>
    Get History
</h2>

<form id="readform">
    <table>
        <tr>
            <td>CropId</td>
            <td><input type="text" id="Id" /></td>
        </tr>
        <tr>
            <td></td>
            <td> <button onclick="HistoryData(event)">Fetch History</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>


</form>
<h2>
    Get Crop By Range
</h2>

<form id="readform">
    <table>
        <tr>
            <td>startKey</td>
            <td><input type="text" id="startKey" /></td>
        </tr>
        <tr>
            <td>endKey</td>
            <td><input type="text" id="endKey" /></td>
        </tr>

        <tr>
            <td></td>
            <td> <button onclick="getCropByRange(event)">Get Crop By Range</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>


</form> --}}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Crop Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #444;
        }

        #container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0px 0px 10px #aaa;
        }

        h1,
        h2 {
            text-align: center;
            margin-top: 30px;
        }

        form {
            margin-top: 20px;
        }

        table {
            margin: auto;
        }

        td {
            padding: 5px;
        }

        input[type="text"] {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 5px 15px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            margin-right: 10px;
        }

        button:hover {
            background-color: #0062cc;
        }

        button:active {
            background-color: #005cbf;
        }
    </style>
</head>

<body>
    <div id="container">
        <h1><u>{{title}}</u></h1>
        <hr>
        {{!-- <p>Welcome to {{dashboard}}</p> --}}

        <h2><u>Add New Crop</u></h2>
        <form id="addform">
            <table>
                <tr>
                    <td>CropId</td>
                    <td><input type="text" id="cropId" /></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" id="name" /></td>
                </tr>
                <tr>
                    <td>Owner</td>
                    <td><input type="text" id="owner" /></td>
                </tr>
                <tr>
                    <td>Soil</td>
                    <td><input type="text" id="soil" /></td>
                </tr>
                <tr>
                    <td>seedName</td>
                    <td><input type="text" id="seedName" /></td>
                </tr>
                <tr>
                    <td>cost</td>
                    <td><input type="text" id="cost" /></td>
                </tr>
                <tr>
                    <td>fertilizerUsed</td>
                    <td><input type="text" id="fertilizerUsed" /></td>
                </tr>
                <tr>
                    <td>areaOfCropyield</td>
                    <td><input type="text" id="areaOfCropyield" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button onclick="addData(event)">Add New Crop</button>
                        <button type="reset">Clear</button>
                    </td>
                </tr>
            </table>
        </form>

        <br>

        <h2><u>Read Crop</u></h2>
        <form id="readform">
            <table>
                <tr>
                    <td>CropId</td>
                    <td><input type="text" id="readcropId" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td> <button onclick="readData(event)">Query Crop</button>
                        <button type="reset">Clear</button>
                    </td>
                </tr>
            </table>


        </form>


        <br>
        <h2><u>Update Crop</u>

        </h2>

        <form id="updateform">
            <table>
                <tr>
                    <td>CropId</td>
                    <td><input type="text" id="Cropid" /></td>
                </tr>
                <tr>
                    <td>Owner</td>
                    <td><input type="text" id="Owner" /></td>
                </tr>
                <tr>
                    <td>Cost</td>
                    <td><input type="text" id="Cost" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td> <button onclick="updateData(event)">Update Crop</button>
                        <button type="reset">Clear</button>
                    </td>
                </tr>
            </table>


        </form>

        <br>
        <h2><u>Delete Crop</u>

        </h2>

        <form id="deleteform">
            <table>
                <tr>
                    <td>CropId</td>
                    <td><input type="text" id="readId" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td> <button onclick="deleteData(event)">Query Crop</button>
                        <button type="reset">Clear</button>
                    </td>
                </tr>
            </table>


        </form>
        <br>
        <h2><u>Fetch all Crops</u>

        </h2>
        <form id="quryallform">
            <table>
                <tr>

                    <td> <button onclick="queryData(event)">Fetch all The data</button>
                        <button type="reset">Clear</button>
                    </td>
                </tr>
            </table>


        </form>

        <br>
        <h2><u>Get History</u>

        </h2>

        <form id="readform">
            <table>
                <tr>
                    <td>CropId</td>
                    <td><input type="text" id="Id" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td> <button onclick="HistoryData(event)">Fetch History</button>
                        <button type="reset">Clear</button>
                    </td>
                </tr>
            </table>


        </form>
        <h2><u>Get Crop By Range</u>

        </h2>

        <form id="readform">
            <table>
                <tr>
                    <td>startKey</td>
                    <td><input type="text" id="startKey" /></td>
                </tr>
                <tr>
                    <td>endKey</td>
                    <td><input type="text" id="endKey" /></td>
                </tr>

                <tr>
                    <td></td>
                    <td> <button onclick="getCropByRange(event)">Get Crop By Range</button>
                        <button type="reset">Clear</button>
                    </td>
                </tr>
            </table>


        </form>
    </div>